#!/usr/bin/bash

# This script describes how subdirectories of this meta repo maps to functional config directories
# in the system.

mappings=(
	"vim		$HOME/.vimrc"
	"nvim           $HOME/.config/nvim"
	"tmux           $HOME/.config/tmux"
	"clangd		$HOME/.config/clangd"
)
