#!/usr/bin/bash

# This script describes how subdirectories of this meta repo maps to functional config directories
# in the system.

mappings=(
	"vim		$HOME/.vimrc"
	"git            $HOME/.config/git"
	"nvim           $HOME/.config/nvim"
	"tmux           $HOME/.config/tmux"
	"clangd		$HOME/.config/clangd"
	"aerc		$HOME/.config/aerc"
	"mbsync		$HOME/.mbsyncrc"
	"agent-configs/skills	$HOME/.agents/skills"
	"agent-configs/opencode/opencode.json	$HOME/.config/opencode/opencode.json"
	"agent-configs/AGENTS.md	$HOME/.config/opencode/AGENTS.md"
	"vscode/settings.json		$HOME/.config/Code/User/settings.json"
	"vscode/keybindings.json	$HOME/.config/Code/User/keybindings.json"
)
